extends layout

block content
	.jumbotron
		.container
			h1 How May I Help You?
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum vehicula congue. Curabitur sed hendrerit lorem, sit amet convallis purus.
			a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p Cras sit amet velit quis libero vulputate faucibus vitae nec velit. Aenean arcu erat, sodales in eleifend imperdiet, sagittis a quam.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Services
				p Cras sit amet velit quis libero vulputate faucibus vitae nec velit. Aenean arcu erat, sodales in eleifend imperdiet, sagittis a quam.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Get In Touch
				p Cras sit amet velit quis libero vulputate faucibus vitae nec velit. Aenean arcu erat, sodales in eleifend imperdiet, sagittis a quam.
				a.btn.btn-default(href='#') View Details